<div class="card col-lg">
    <div class="card-header message">
        Articles
    </div>
    <div class="card-body">

        <table class="table table-hover">
            <tr>
                <th>Article</th>
                <th>Text</th>
                <th>Written by</th>
            </tr>

            {% for article in articles_investigated %}
            <tr>
                <td><a href="/article/{{ article.pk }}">{{ article.title }}</a></td>
                <td>{{ article.text }}</td>
                <td><a href="/article/{{ article.author.pk }}">{{ article.author.name }}</a></td>
            </tr>
            {% endfor %}

        </table>

        <a class="btn btn-primary m-5" href="/article/add">Add Article</a>
    </div>
</div>