{% block content %}
            
<ul class="navbar-nav text-light ml-auto">

    <li class="nav-item">
        {% if user.is_authenticated %}
        <h3>Welcome, {{ user.username }}. Thank you for logging in.</h3>
        <a href="/accounts/logout" class="btn btn-success m-5">Log Out</a>
        {% else %}
        <h3>Welcome. Please log in or Sign up</h3>
        <a href="/accounts/login/" class="btn btn-success m-5">Log In</a>
        <a href="/accounts/signup/" class="btn btn-success m-5">Sign up</a>
        {% endif %}
        <a href="/hero" class="btn btn-success m-5">Superheroes</a>
        <a href="/article" class="btn btn-success m-5">News</a>
        <a href="/article/add" class="btn btn-success m-5">Write article</a>
        <a href="/investigator/home" class="btn btn-success m-5">User info</a>
        
    </li>

</ul>

{% endblock content %}