{% extends 'theme.html' %}


{% block title %}
    Superhero Details
{% endblock title %}


{% block content %}

<div class="row">

    <div class="card col-lg">


        <div class="card-body">


            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><img src="/media/{{ object.image.image }}" alt="{{ object.image.title }}" width="300"></td>
                </tr>
                <tr>
                    <td>Identity</td>
                    <td>{{ object.identity }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <td>Strengths</td>
                    <td>{{ object.strengths }}</td>
                </tr>
                <tr>
                    <td>Weaknesses</td>
                    <td>{{ object.weaknesses }}</td>
                </tr>
            </table>

        </div>
        <a class="btn btn-primary m-5" href="/hero/{{ object.pk }}/edit" type="button">Edit Hero</a>    
    </div>

</div>

{% endblock content %}