{% extends 'theme.html' %}


{% block title %}
Superheroes
{% endblock title %}


{% block content %}

<div class="container-fluid">



        {% for hero in object_list %}
        <div class="card" style="width: 18rem;">
            <img src="/static/images/{{ hero.image }}" class="card-img-top" alt="{{ hero.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ hero.identity }}</h5>
              <p class="card-text">{{ hero.description }}</p>
              <a href="/hero/{{ hero.pk }}" class="btn btn-primary">See more</a>
            </div>
        </div>
        {% endfor %}



</div>

{% endblock content %}